body {
  background-color: rgb(132, 0, 255);
  ;
  color: #8c8282;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b3afaf;
}

.bg-steel {
  background-color:  rgb(6, 23, 61);
}


.site-header .navbar-nav .nav-link {
  color: #cddbcb;
}

.site-header .navbar-nav .nav-link:hover {
  color: #99f091;
  text-shadow: 2px 2px 5px yellow;

}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  color: rgb(255, 235, 235);

}

.content-section {
  background: rgba(0, 0, 0, 0.822);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 40px;
  margin-bottom: 20px;
}


.article-title {
  color: #93dc15;
  text-decoration-line: overline;
}

a.article-title:hover {
  color: rgb(1, 0, 4);
  text-shadow: 0px 0px 5px rgb(254, 254, 254);
  text-decoration-line: underline;
}

.article-content {
  white-space: pre-line;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px yellow;
  padding: 25px;
  border-radius: 40px;
  background-color: rgba(42, 38, 38, 0.742);
  color: white;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;

}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;

}

.article-metadata a:hover {
  color: #bba3a3;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.title {
  text-align: center;

}

.bold {
  font-weight: bolder;
  font-size: 30px;
  margin-right: 50px;
  margin-left: 0;
}